.main__subscription {
  background-color: var(--subscription-background);
  position: relative;
}

.subscription__container {
  padding: 60px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.subscription__title {
  font-size: 24px;
  color: var(--text-secondary);
  text-align: center;
  max-width: 285px;
  line-height: calc(34 / 24);
  letter-spacing: 0.14px;
}

.subscription__form {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.subscription__input {
  max-width: 210px;
  width: 100%;
  padding: 12px 15px;
  font-size: 11px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--subscription-input);
}

.subscription__button {
  background-color: transparent;
  border: 1px solid var(--subscription-border);
  padding: 15px 20px;
  font-size: 11px;
  font-weight: 700;
}

.subscription__description {
  color: var(--subscription-text);
  font-size: 12px;
  font-weight: 400;
  line-height: calc(20 / 11);
  max-width: 282px;
  text-align: center;
}

.subscription::after {
  content: "";
  width: 298px;
  height: 123px;
  background-image: url("../hero/linesdown.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -40px;
}

.subscription::before {
  content: "";
  width: 298px;
  height: 123px;
  background-image: url("../../img/lines.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -24px;
  left: -80px;
}

@media (min-width: 1024px) {
  .subscription__title {
    font-size: 37px;
    max-width: 550px;
    margin-bottom: 35px;
  }

  .subscription__form {
    margin-bottom: 17px;
  }

  .subscription__input {
    max-width: 230px;
  }

  .subscription__button {
    padding: 15px 25px;
    font-size: 12px;
  }

  .subscription__container {
    gap: 0;
    padding: 90px 0;
  }

  .subscription__description {
    max-width: 398px;
  }

  .subscription::after {
    width: 450px;
    height: 150px;
    right: 0;
    bottom: -40px;
  }

  .subscription::before {
    width: 491px;
    height: 271px;
    background-size: contain;
    top: -80px;
    left: -80px;
  }
}

@media (min-width: 1440px) {
  .subscription__title {
    font-size: 52px;
    max-width: 768px;
    margin-bottom: 48px;
    line-height: calc(48 / 52);
  }

  .subscription__form {
    margin-bottom: 24px;
  }

  .subscription__input {
    max-width: 320px;
  }

  .subscription__button {
    padding: 18px 32px;
    font-size: 18px;
  }

  .subscription__container {
    padding: 130px 0;
  }

  .subscription__description {
    max-width: 555px;
    font-size: 16px;
  }

  .subscription::after {
    width: 600px;
    height: 220px;
    right: 0;
    bottom: -40px;
  }

  .subscription::before {
    width: 685px;
    height: 378px;
    background-size: contain;
    top: -120px;
    left: -80px;
  }
}
