body {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 12px;
  color: var(--text-primary);
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: 327px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 886px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1234px;
    margin: 0 auto;
  }
}
