:root {
  --menu-background: #fff;
  --navigation-color: #333333;
  --accent-color: #7c4ee4;
  --text-secondary: #fff;
  --text-primary: #333333;
  --hero-background: #7c4ee4;
  --hero-btn: #ffffff;
  --post-border: #dbdbdb;
  --post-date: #999999;
  --post-description: #666666;
  --popular-button: #7c4ee4;
  --popular-background: #fff;
  --post-button: #7c4ee4;
  --subscription-background: #7c4ee4;
  --subscription-input: #5a7184;
  --subscription-border: #fff;
  --subscription-text: #bbbbbb;
  --logo-footer: #150e06;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Outfit", sans-serif;
  --font-quarterary: "Urbanist", sans-serif;
}
