@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "../../styles/variables.css";

.logo__container {
  width: 31px;
  height: 31px;
}

.menu__open {
  z-index: 1001;
  position: relative;
}

.nav__container {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  z-index: 1001;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo__text {
  color: var(--navigation-color);
  font-weight: 800;
  font-size: 24px;
}

.open__btn {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.menu__wrapper.menu__wrapper--active {
  transform: translateY(0);
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu__item {
  font-size: 32px;
  color: var(--navigation-color);
  font-weight: 500;
  transition: color 0.5s ease;
}

.menu__item:hover {
  color: var(--accent-color);
}

.menu__item--search {
  font-size: 36px;
}

@media (max-width: 1024px) {
  .menu__wrapper {
    width: 100%;
    transform: translateX(-100%);
    height: 100%;
    background-color: var(--menu-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.5s ease;
    padding: 50% 20px;
  }
}

@media (min-width: 1024px) {
  .nav__container {
    padding: 15px 0;
  }
  .menu__open {
    display: none;
  }

  .menu__item {
    font-size: 12px;
  }

  .menu__item--search {
    font-size: 20px;
  }

  .nav__menu {
    display: flex;
    align-items: center;
  }

  .menu__list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .nav__container::before {
    content: "";
    width: 685px;
    height: 378px;
    background-image: url("../../img/lines.png");
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 1011;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo__container {
    width: 43px;
    height: 43px;
  }

  .logo__text {
    font-size: 34px;
  }

  .menu__item {
    font-size: 16px;
  }

  .menu__item--search {
    font-size: 32px;
  }

  .nav__container {
    padding: 21px 0;
  }
}
