.footer__container {
  padding: 36px 0 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__main {
  border-bottom: 1px solid var(--accent-color);
}

.footer__logo {
  justify-content: center;
  margin-bottom: 28px;
}

.logo__text--footer {
  color: var(--logo-footer);
}

.footer__nav {
  display: flex;
  gap: 33px;
  color: var(--logo-footer);
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 28px;
}

.footer__socials {
  display: flex;
  gap: 11px;
}

.socials__item {
  font-size: 11px;
  padding: 5px 7px;
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--text-secondary);
}

.copyright {
  padding-bottom: 60px;
  text-align: center;
  color: var(--logo-footer);
  font-size: 11px;
  font-weight: 400;
  padding-top: 28px;
}

@media (min-width: 1024px) {
  .footer__container {
    padding: 36px 0 28px;
  }
  .footer__logo {
    margin-bottom: 28px;
  }

  .footer__nav {
    gap: 33px;
  }

  .copyright {
    padding: 28px 0 39px;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    padding: 50px 0 28px;
  }
  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__nav {
    gap: 46px;
    font-size: 16px;
  }

  .footer__socials {
    gap: 15px;
  }

  .socials__item {
    font-size: 16px;
    padding: 8px 10px;
  }

  .copyright {
    font-size: 16px;
    padding: 40px 0 54px;
  }
}
